.header__icon {
    display: block;
    font-size: 1.8rem;
    padding: 10px;
    text-align: center;
}

.header__icon:hover {
    cursor: pointer;
}

.header__link {
    display: block;
    color: black;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.header__link:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.header__link--brand {
    background-color: black;
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: bold;
}

.header__link--login {
    background-color: black;
    color: white;
}

.header__link--login:hover {
    background-color: var(--brand-color);
    color: black;
}

.header__menu, .header__submenu {
    list-style-type: none;
    list-style-position: inside;
}

.header__menu--desktop, .header__submenu--desktop {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    text-align: center;
}

.header__submenu--desktop {
    display: none;
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .header__item {
        margin: 0 5px;
    }
    .header__item--bars {
        display: none;
    }
    .header__menu--desktop {
        display: flex;
    }
    .header__menu--mobile {
        display: none;
    }
    .header__submenu--desktop {
        display: flex;
    }
}