:root {
    --brand-color: rgb(174, 255, 174);
    --brand-strong-color: rgb(95, 219, 79);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.show {
    display: block;
}

.hidden {
    display: none;
}