.banner {
    background-color: rgb(68, 67, 57);
    height: 80vh;
    text-align: center;
}

.banner__actions {
    padding: 10px;
}

.banner, .banner__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__brand {
    margin-bottom: 25px;
    margin-top: 25px;
}

.banner__link {
    border-radius: 10px;
    color: black;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.banner__link:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.banner__link--primary {
    background-color: var(--brand-color);
}

.banner__link--secondary {
    background-color: rgb(35, 144, 109);
    color: white;
}

.banner__subtitle {
    color: white;
}

.banner__title {
    color: var(--brand-strong-color);
    font-size: 4rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .banner__actions {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
        /* width: 20%; */
    }
    .banner__link {
        margin: 0 5px;
    }
}